<table class="table table-hover table-inverse" style="margin-top: 30px;">
  <thead>
    <tr>
      <th style="text-align: center;"><h3>検索結果</h3></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td style="text-align: center;"><%= link_to genre.name,genre_path(genre) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
