<%= render 'layouts/header', header: @header %>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">

      <div class="heading col-xs-6 col-xs-offset-3">
        <p>タグ一覧</p>
      </div>

      <table class="table table-hover table-striped">
        <% @genres.each do |genre| %>
          <tr>
            <td><%= link_to genre.name, genre_path(genre) %>(<%= genre.genre_blogs.count %>)</td>
          </tr>
        <% end %>
      </table>

    </div>
  </div>
</div>

<%= render 'layouts/footer', footer: @footer %>