    <div class="main-visual" style="margin-top: 0;">
    　<div id="theTarget">
        <div class="image1">
        	<div class="loader">
			<span style="--i:1;">よ</span>
			<span style="--i:2;">う</span>
			<span style="--i:3;">こ</span>
			<span style="--i:4;">そ</span>
			<span style="--i:5;">旅</span>
			<span style="--i:6;">ブ</span>
			<span style="--i:7;">ロ</span>
			<span style="--i:8;">グ</span>
			<span style="--i:9;">へ</span>
			</div>
		</div>
        <div class="image2">
        	<div class="loader">
			<span style="--i:1;">よ</span>
			<span style="--i:2;">う</span>
			<span style="--i:3;">こ</span>
			<span style="--i:4;">そ</span>
			<span style="--i:5;">旅</span>
			<span style="--i:6;">ブ</span>
			<span style="--i:7;">ロ</span>
			<span style="--i:8;">グ</span>
			<span style="--i:9;">へ</span>
			</div>
        </div>
        <div class="image3">
        	<div class="loader">
			<span style="--i:1;">よ</span>
			<span style="--i:2;">う</span>
			<span style="--i:3;">こ</span>
			<span style="--i:4;">そ</span>
			<span style="--i:5;">旅</span>
			<span style="--i:6;">ブ</span>
			<span style="--i:7;">ロ</span>
			<span style="--i:8;">グ</span>
			<span style="--i:9;">へ</span>
			</div>
        </div>
        <div class="image4">
        	<div class="loader">
			<span style="--i:1;">よ</span>
			<span style="--i:2;">う</span>
			<span style="--i:3;">こ</span>
			<span style="--i:4;">そ</span>
			<span style="--i:5;">旅</span>
			<span style="--i:6;">ブ</span>
			<span style="--i:7;">ロ</span>
			<span style="--i:8;">グ</span>
			<span style="--i:9;">へ</span>
			</div></div>
        <div class="image5">
        	<div class="loader">
			<span style="--i:1;">よ</span>
			<span style="--i:2;">う</span>
			<span style="--i:3;">こ</span>
			<span style="--i:4;">そ</span>
			<span style="--i:5;">旅</span>
			<span style="--i:6;">ブ</span>
			<span style="--i:7;">ロ</span>
			<span style="--i:8;">グ</span>
			<span style="--i:9;">へ</span>
			</div>
        </div>
      </div>
    </div>