
<table class="table table-hover table-inverse" style="margin-top: 30px;">
  <thead>
    <tr>
      <th style="text-align: center;"><h3>検索結果</h3></th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td style="text-align: center;"><%= link_to blog.title,blog_path(blog) %></td>
      </tr>
    <% end %>
  </tbody>
</table>