
<div class="container" style="margin-top: 30px;">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<table class="table table-hover table-inverse">
			  <thead>
			    <tr>
			      <th style="text-align: center;"><h3>検索結果</h3></th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @blogs.each do |blog| %>
			      <tr>
			        <td style="text-align: center;"><%= link_to blog.title,blog_path(blog) %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
</div>
