<%= render 'layouts/header', header: @header %>

<body>
	<div class="about-container">
		<span class="ja">日本語</span>
		<input type="checkbox" class="check">

		<span class="en">English</span>

		<div class="content contentJapanese">
			<h2>日本語</h2>
			<p>旅の感想や画像を投稿するサイトです。</p>
			<p>また、他のユーザーの投稿も閲覧できます</p>
		</div>
		<div class="content contentEnglish">
			<h2>English</h2>
			<p>This is a website where you can post your travel impressions and images. </p>
			<p>Also, you can view posts by other users.</p>
		</div>
	</div>
</body>

<%= render 'layouts/footer', footer: @footer %>