<body class="home-body">
	<div class="loader">
		<span style="--i:1;">よ</span>
		<span style="--i:2;">う</span>
		<span style="--i:3;">こ</span>
		<span style="--i:4;">そ</span>
		<span style="--i:5;">旅</span>
		<span style="--i:6;">ブ</span>
		<span style="--i:7;">ロ</span>
		<span style="--i:8;">グ</span>
		<span style="--i:9;">へ</span>
	</div>
	<div class="row">
	<%= link_to "新規登録",new_user_registration_path, class: "btn btn-primary" %><br>
	<%= link_to "ログイン",new_user_session_path, class: "btn btn-success" %>
	</div>
</body>