<footer style="margin-top: 50px; text-align: center; background-color: gray;">
	     <div class="wrap">
      <ul id="tab-menu" class="clearfix">
        <li><a href="#tab1" class="active">サイト概要</a></li>
        <li><a href="#tab2" class="">お知らせ</a></li>
        <li><a href="#tab3" class="">使い方</a></li>
        <li><a href="#tab4" class="">HELP</a></li>
      </ul>

      <div id="tab-contents" class="clearfix">
        <div id="tab1" class="tab">
          <p>このサイトは旅の思い出を投稿するサイトです。</p>
        </div>

        <div id="tab2" class="tab">
          <p></p>
        </div>

        <div id="tab3" class="tab">
          <p>ユーザー情報の新規投稿よりブログを作成してください。</p>
        </div>

        <div id="tab4" class="tab">
          <p>お困りの方は<%= link_to "こちら",new_request_path %>まで</p>
        </div>
      </div>
    </div>
<script type="text/javascript">
  $('#tab-contents .tab[id != "tab5"]').hide();

$('#tab-menu a').on('click', function() {
  $("#tab-contents .tab").hide();
  $("#tab-menu .active").removeClass("active");
  $(this).addClass("active");
  $($(this).attr("href")).show();
  return false;
});

</script>
   	<p style="padding: 25px;">©︎All Right reserved by TravelBlog</p>
</footer>